/* Defining fonts */
@font-face {
  font-family: "Amsipro";
  src: local("Amsipro"),
    url(../public/typography/amsipro-regular.otf) format("opentype");
}

@font-face {
  font-family: "Cooper";
  src: local("Cooper"), url(../public/typography/COOPBL.TTF) format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: Amsipro, Arial, serif;
  color: #5e262b;
}

h1,
h2 {
  font-family: Cooper, Arial, serif;
  text-shadow: 2px 0 #5e262b, -2px 0 #5e262b, 0 2px #5e262b, 0 -2px #5e262b,
    1px 1px #5e262b, -1px -1px #5e262b, 1px -1px #5e262b, -1px 1px #5e262b,
    5px 5px 0px #5e262b;
  color: #fddc86;
  font-size: 3rem;
}

p {
  font-size: 1.125rem;
}

body {
  background-color: #fff4d6;
  overflow-x: hidden;
}
